
.top-bar, .top-bar ul{
    background-color: black;
}

.menu a, .menu{
    color: white;
}

#portrait {
    margin: 1rem;
}

h1, h2, h3 {
    font-family: Lato, Arial, Helvetica, sans-serif;
    text-align: center;
}

img {
    display: inline-block;
    margin-right: .2rem;
    margin-left: .2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

p {
    font-family: Georgia, Times, serif;
    font-style: normal;
}

#Faint {
    font-size: .85rem;
    opacity: 80%;
}

li {
    font-size: .85rem;
}